*
!/.ssh/id_rsa.pub
!/.emacs.el
!/.emacs.d/*
!/.zshrc
!/.zshrc_aliases
!/.zshenv
!/.zsh.d/
!/.zsh.d/z/*
!/.zsh.d
!/.profile
!/.bashrc
!/.Xmodmap
!/template.tex
*~
*.o
*.pyc
*.gch
*.out
build/
.waf-*
.waf3-*
.lock-*
.DS_Store
cscope.*
callgrind.*
.unittest-gtest
*.tar.gz
